body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links a{
    margin-right: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.image-section {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 60px 0px 90px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
}

.item-section {
    text-align: center;
    padding: 50px 0px 100px 0px;
}

.item-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item {
    color:#7f838b
}

.image-section img {
    max-width: 400px;
    max-height: 300px;
}

img {
    max-width: 250px;
    max-height: 200px;
    border-radius: 12px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-wrapper {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: justify;
}

.quotee {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.action-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px 0px;
}

.action-box {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border-radius: 12px;
    padding: 20px 80px;
}

#final-button {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-text {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    color: #f9faf8;
    border: 2px none white;
    padding: 10px 20px;
    font-weight: bold;
}

